asgiref==3.10.0
Django==5.2.7
djangorestframework==3.16.1
dotenv==0.9.9
iniconfig==2.1.0
numpy==2.3.4
packaging==25.0
pandas==2.3.3
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
pytest-django==4.11.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
